html {
    background-color: #403f3D;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


footer {
    color: #FFFCF1;
    text-align: center;
}

nav {
    background-color: #807E79;
}

body {
    text-align: center;
    align-content: center;
    color: #FFFCF1;
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.headerTitle{
    grid-column:2;
}
.grayBox {
    padding: 30px;
    background-color: #807E79;
    backface-visibility: visible;
    width: 500px;
    margin: auto;
    border-radius: 50px;
}
.headerLinks {
    grid-column: 3;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.ImageBox {
    grid-column: 1 / 3;
    grid-row: 1;
}
.IngredientBox {
    grid-column: 3 / 6;
    grid-row: 1;
}

.CookwareBox {
    grid-column: 1;
    grid-row: 2;
}

.StepsBox {
    grid-column: 2 / 6;
    grid-row: 2;
}

.RecipeBox {
    border: double;
    border-color: #807E79;
    border-radius: 50px;
    border-width: thick;
    padding: 20px;
}

.links {
    color: #FFFCF1;
}
.titleLink {
    color: #FFFCF1;
    font-size: 24px;
}

.titleTxt {
    font-size: 50px;
    color: #FFFCF1;
    display: inline-block;
}

.headDiv {
    align-content: center;
    align-items: center;
    text-align: center;
}

    .headDiv h1 {
        display: inline-block;
    }

    .headDiv div {
        display: inline-block;
        float: right;
    }

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .btn-hover:focus {
        outline: none;
    }

    .btn-hover.color-8 {
        background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
        box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    }
