<body>
    <div>
        <div>
            <h2>Why we made this site:</h2>
        </div>
        <br />
        <div>
            <p>We decided to make E.Z.Recipize for a college projects class.</p>
            <p>We chose to make it because we know a lot of college students are not very adept in the art of cooking and could use some help.</p>
        </div>
    </div>
    <div>
        <br />
        <br />
        <div>
            <h2>Meet the team:</h2>
        </div>
            <hr />
        <div>
            <div>
                <div>
                    <h4>Kyle Johnston</h4>
                </div>
                <p>"What am I doing?"</p>
            </div>
            <br />
            <div>
                <div>
                    <h4>Cole Light</h4>
                </div>
                <p>"No."</p>
            </div>
            <br />
            <div>
                <div>
                    <h4>Troy Turner</h4>
                </div>
                <p>"Ginger."</p>
            </div>
        </div>
    </div>
</body>