@{
    ViewData["Title"] = "Home Page";
}

    <body>
        <div>
            <p>Site overview and general instructions</p>
        </div>
        <div>
            <p>Popular/favorite recipies</p>
        </div>
    </body>
