<body>
    <div>
        <h2>Welcome to E.Z.Recipize!</h2>
        <br />
        <div class="textBox">
            <p>Here at E.Z.Recipize, we try to make the lives of home cooks easier. Our ease of access recipies make finding the right things to cook quick and easy.</p>
            <p>Our tutorial system makes it so that you can follow along the recipe in an easy to read way.</p>
            <p>Our goal is to keep things organized for home cooks and to keep you moving at all times so you always have somehting to do while in the kitchen.</p>
        </div>
    </div>
    <div>
        <br />
        <h2>Popular Recipies!</h2>
        <div>
            <p>Stuff here</p>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
