
@{
    ViewData["Title"] = "Step";
}

@model RecipeStep

<h1>Step</h1>

<form>

    <p>
        <label asp-for="Instructions">Instructions for this step:</label>
        <input asp-for="Instructions" />
        <span asp-validation-for="Instructions"></span>
    </p>
    <p>
        <label asp-for="RequiredCookware">Cookware required for this step:</label>
        <input asp-for="RequiredCookware" />
        <span asp-validation-for="RequiredCookware"></span>
    </p>
    <p>
        <label asp-for="SuggestedCookware">Cookware suggested for this step:</label>
        <input asp-for="SuggestedCookware" />
        <span asp-validation-for="SuggestedCookware"></span>
    </p>
    <p>
        <label asp-for="IsTimer">Is there a timer for this step:</label>
        <input asp-for="IsTimer" />
        <span asp-validation-for="IsTimer"></span>
    </p>
    <p>
        <label asp-for="Ingredients">what ingredients are nessicary for this step:</label>
        <input asp-for="Ingredients" />
        <span asp-validation-for="Ingredients"></span>
    </p>
    <p>
        
        <label asp-for="Timer">If there is a timer how much time is on it</label>
        <input asp-for="Timer" />
        <span asp-validation-for="Timer" ></span>
    </p>
    
</form>