
@{
    ViewData["Title"] = "Index";
}

@model Recipe

<br />
    <div class="grayBox">
        <h1>Begin cooking @Model.RecipeName</h1>
        <form action="/" method="post">

            <button class="btn-hover color-8" asp-controller="Cooking" asp-action="Tutorial">Begin</button>
        </form>
    </div>