@model List<Recipe>

<body>
    <h2>Here are our recipes!</h2>
    <br />
    <hr />
    <div>
        <button class="btn-hover color-8" onclick="location.href = '/Recipe/Create'">Create Recipe</button>
        <table border="1" style="margin:auto">
            <thead>
                <tr>
                    <td>
                        <label>Title</label>
                    </td>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <label>Number of Steps</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <a asp-controller="Recipe" asp-action="RecipeDetails" asp-route-recipe="@i">@Model.ElementAt(i).RecipeName</a>
                        </td>
                        <td>
                            <p>@Model.ElementAt(i).RecipeDescription</p>
                        </td>
                        <td>
                            <p>@Model.ElementAt(i).Steps.Count() steps</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>